<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<img src="{$baseUri}/images/email-logo.png" alt="Rezidence House">
<br>
<br>
<p>
    <b>Tento email byl vygenerován na základě vyplnění formuláře "Sjednání prohlídky".</b>
</p>
<table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-top: 20px; margin-bottom: 20px; line-height: 2;">
    <tr>
        <td align="left" valign="top" width="30" style="white-space: nowrap;">Odesláno v jazykové mutaci webu:</td>
        <td width="20"></td>
        <td valign="top">{$localeName} ({$localeCode})</td>
    </tr>
    <tr>
        <td align="left" valign="top" width="30" style="white-space: nowrap;">Telefonní číslo / Email:</td>
        <td width="20"></td>
        <td valign="top">{$telemail}</td>
    </tr>
</table>
</body>
</html>
